html
	head
		link(rel='stylesheet', href='stylesheets/bootstrap.css')
		link(rel='stylesheet', href='stylesheets/style.css')
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
		title Furiosas Auto Shop
		block head
	body
		block links
			-var selected = 'Home';
		-var menuItems = {'Home': '/','Services': '/services','Models': '/models','Reviews':'/reviews'};
		.container
			.nav
				ul.nav.nav-justified
					each val, key in menuItems
						li
							if selected === key
								a(href=val,class="active")= key
							else
								a(href=val)= key
				hr
			block body
