extends _shared
block links
	-var selected = 'Models';
block body
	div.row
		div(class='col-lg-3 col-xs-12')
			div(class='left-widget')
				h2 Sort By
				hr
				select(onchange="location = this.value;")
					for opt in models.sortOptions
						option(value=opt.href,selected=opt.selected)= opt.key 
		div(class='col-lg-9 col-xs-12')
			.models
				h2 Models we work on

				//- Implement sorting here

				for model in models.sortedData
					h4= model
